<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Stock</title>
</head>
<body>
    <h1>Edit Stock <%= stock.Name  %> </h1>
    <form action="/stocks/<%= stock._id  %>?_method=PUT " method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="stock[name]" value="<%= stock.Name  %> ">
        </div>
        <div>
            <label for="price">Price</label>
            <input type="text" id="price" name="stock[prevPrice]" value="<%= stock.prevPrice  %>" >
        </div>
        <div>
            <label for="Symbol">Symbol</label>
            <input type="text" id="Symbol" name="stock[Symbol]" value="<%= stock.Symbol  %>" >
        </div>
        <div>
            <label for="IPOYear">Indices</label>
            <input type="number" id="indices" name="stock[IPOYear]" value="<%= stock.IPOYear  %>" >
        </div>
        <button>Update Stock</button>
    </form>
    
    <a href="/stocks">All stocks</a>
</body>
</html>