<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Stock</title>
</head>
<body>
    <h1>Edit Stock</h1>
    <form action="/stocks/<%= stock._id  %>?_method=PUT " method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="stock[name]" value="<%= stock.name  %> ">
        </div>
        <div>
            <label for="price">Price</label>
            <input type="number" id="price" name="stock[price]" value="<%= stock.price  %>" >
        </div>
        <div>
            <label for="ISIN">ISIN</label>
            <input type="text" id="ISIN" name="stock[ISIN]" value="<%= stock.ISIN  %>" >
        </div>
        <div>
            <label for="indices">Indices</label>
            <input type="text" id="indices" name="stock[indices]" value="<%= stock.indices  %>" >
        </div>
        <button>Update Stock</button>
    </form>
    
    <a href="/stocks">All stocks</a>
</body>
</html>