<% layout('layouts/boilerplate') %> 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Edit Stock</title>
</head>
<body>
    <h1>Edit Stock <%= stock.Name  %> </h1>
    <form action="/stocks/<%= stock._id  %>?_method=PUT " method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="stock[name]" value="<%= stock.Name  %> ">
        </div>
        <div>
            <label for="price">Price</label>
            <input type="text" id="price" name="stock[prevPrice]" value="<%= stock.prevPrice  %>" >
        </div>
        <div>
            <label for="Symbol">Symbol</label>
            <input type="text" id="Symbol" name="stock[Symbol]" value="<%= stock.Symbol  %>" >
        </div>
        <div>
            <label for="IPOYear">Indices</label>
            <input type="number" id="indices" name="stock[IPOYear]" value="<%= stock.IPOYear  %>" >
        </div>
        <button>Update Stock</button>
    </form>
    