<% layout('layouts/boilerplate') %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title> show </title>
    </head>

    <body>
        <h1>
            <%= stock.Name %> show
        </h1>
        

            <p> Symbol <%= stock.Symbol %>
            </p>
            <p> Price <%= stock.prevPrice %>
            </p>
            <p> Volume <%= stock.Volume %>
            </p>
            <p> <b>Country</b>
                <%= stock.Country %>
            </p>
            <p> <b>IPO Year</b>
                <%= stock.IPOYear %>
            </p>
            <p> <b>Sector</b>
                <%= stock.Sector %>
            </p>
            <p> <b>Industry</b>
                <%= stock.Industry %>
            </p>
            <p> <b>Number of rising days:</b>
                <%= stock.numOfRisingDays %>
            </p>
            <p> <b>Accumulated change:</b>
                <%= stock.accumulatedChange.toFixed() %> %
            </p>

            <p>For more Data: <a href="https://www.nasdaq.com/market-activity/stocks/<%= stock.Symbol  %>">Click
                    here</a></p>
            <p>
            <form action="/stocks/<%= stock._id  %>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>
            </p>

            <a href="/stocks/<%= stock._id  %>/edit ">Edit</a>
            