<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> show </title>
</head>
<body>
    <h1>  <%= stock.Name  %> show </h1>

    
     <p>  Symbol <%= stock.Symbol  %></p>
    <p>  Price <%= stock.Price  %></p>
    <p>  Volume <%= stock.Volume  %></p>
    <p>  <b>Country</b> <%= stock.Country  %></p>
    <p>  <b>IPO Year</b> <%= stock.IPOYear  %></p>
    <p>  <b>Sector</b> <%= stock.Sector  %></p>
    <p>  <b>Industry</b> <%= stock.Industry  %></p>
    
    <p>For more Data: <a href="https://www.nasdaq.com/market-activity/stocks/<%= stock.Symbol  %>">Click here</a></p>
    <p>
        <form action="/stocks/<%= stock._id  %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </p>
    <footer>
        <a href="/stocks/<%= stock._id  %>/edit ">Edit</a>
        <a href="/stocks">all stocks</a>
    </footer>
</body>
</html>

